<!DOCTYPE html>
<html>

<head>
  <title>Movie Character Search</title>
</head>

<body>
  <h1>Search for Characters</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Search</button>
  </form>

  <hr>

  <h2>Results</h2>
  {% if results is not None %}
  {% if results %}
  <table border="1">
    <thead>
      <tr>
        <th>Movie Title</th>
        <th>Character Name</th>
        <th>Gender</th>
        <th>Homeworld Name</th>
        <th>Homeworld Diameter</th>
      </tr>
    </thead>
    <tbody>
      {% for movie in results %}
        {% for person in movie.characters.all %}

          {% if person.gender == form.cleaned_data.character_gender and person.homeworld.diameter >= form.cleaned_data.planet_diameter %}
          <tr>
            <td>{{ movie.title }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.gender }}</td>
            <td>{{ person.homeworld.name }}</td>
            <td>{{ person.homeworld.diameter }}</td>
          </tr>
          {% endif %}

        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>Nothing corresponding to your research</p>
  {% endif %}
  {% endif %}
</body>

</html>