<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Articles</title>
</head>

<body>
  <h1>All Articles</h1>
  {% if user.is_authenticated %}
  <p>Hello, {{ user.username }}!
  <form action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit">
      Logout
    </button>
  </form>
  </p>
  {% endif %}
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Created</th>
        <th>Synopsis</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td><a href="{% url 'detail' article.id %}">{{ article.title }}</a></td>
        <td>{{ article.author.username }}</td>
        <td>{{ article.created }}</td>
        <td>{{ article.synopsis }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>