<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Publications</title>
</head>

<body>
  <h1>My Publications</h1>
  <a href="{% url 'publish' %}">Publish a new article</a>
  <table border="1">
    <thead>
      <tr>
        <th>Title</th>
        <th>Synopsis</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <td><a href="{% url 'detail' article.id %}">{{ article.title }}</a></td>
        <td>{{ article.synopsis }}</td>
        <td>{{ article.created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>